<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="container">
        <h2>Welcome Again</h2>
        <form action="/login" class="loginForm" method="post">
            <label for="username">username</label>
            <input type="text" name="username" placeholder="enter your username">
            <label for="Password">Password</label>
            <input type="password" name="password" placeholder="enter your password">

            <button type="submit">Login</button>
        </form>
        <a href="signup">Don't have a account ?</a>
    </div>
</body>

</html>