<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>SingUp Teacher route</h1>
        <form action="/signup_teacher" method="post">
            <select name="institutionType" id="">
                <option value="college">college</option>
                <option value="School">School</option>
            </select>
        </form>
    </center>
</body>
</html>